*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

:root {
  /* font size */
  --fs-sm: 1.5rem;
  --fs-md: 1.8rem;
  --fs-lg: 2rem;

  /* font weight */
  --fw-normal: 300;
  --fw-bold: 600;
  --fw-boldest: 800;

  /* font-family */
  --family: "Nunito Sans", sans-serif;
}

body[data-theme="light"] {
  --text-color: hsl(200, 15%, 8%);
  --bg-color: hsl(0, 0%, 98%);
  --element-color: hsl(0, 0%, 100%);

  --shadow: 0 2px 2px 2px #d3d3d3;
}

body[data-theme="dark"] {
  --text-color: hsl(0, 0%, 100%);
  --bg-color: hsl(207, 26%, 17%);
  --element-color: hsl(209, 23%, 22%);
}

body {
  font-family: var(--family);
  font-size: var(--fs-sm);
  font-weight: var(--fw-normal);
  color: var(--text-color);

  background-color: var(--bg-color);

  margin: 0;
  width: 100%;
  min-height: 100vh;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}
